body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: #333940;
}
/* Parent container */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

header, footer {
  padding: 40px;
  text-align: center;
  color: #fff;
}

/* Header */

header h1 {
    color: #e867ed;
    font-size: 2.5em;
}

header p {
  color: white;
  justify-content: center;
  display: block;
  text-align: center;
  margin: 10px;
  padding: 5px 15% 0 15%;
  line-height: 1.5em;
}


/* Section */

section {
  flex: 0 0 400px;
  padding: 20px;
  border: dashed white 1px;
  margin: 0 10px 40px 10px;
}

section p {
    color: #e867ed;
}

section h2 {
    color: #e867ed;
    font-size: 1.75em;
    border: solid white 1px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: -40px;
    background-color: #333940;
}

section h2 .hover {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  box-shadow: insert 0px 0px 8px
  rgba(232, 102, 236, 1), 0 0 15 px
  rgba(232, 102, 236, 1);
}


pre {
    border-radius: 10px;
    margin-top: 10px;
    color: white;
}

pre:active {
    user-select: all;
}

/* Footer */

footer {
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  color: #fff;
  margin-top: auto;
}

/* Class */

.linear-gradient-background {
    background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%);
}


